Source: wal-g
Section: net
Priority: optional
Maintainer: Georgy Rylov <g0djan@yandex-team.ru>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Vcs-Git: git://github.com/g0djan/wal-g.git
Vcs-Browser: https://github.com/g0djan/wal-g

Package: wal-g
Architecture: any
Depends: adduser, ${shlibs:Depends}, ${misc:Depends}
Description: Continuous archiving for Postgres with S3 support
 Full documentation: https://github.com/g0djan/wal-g
